# Ignore zip files
*.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Model files
models/

# Data files
data/input/
data/output/

# Local configuration files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints 